.body-container{
    width: 100%;
    height: 100vh;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.body-form{
    width: 80%;
    display: block;
    grid-template-columns: repeat(1, 1fr);
}

.acc-icon{
    color: #666666;
}

@media only screen and (max-width: 790px){
    .body-container{
        padding: 8rem 0;
    }

    .body-container form{
        height: 70vh;
    }
}