{% load static %}
<header>
    <link rel="stylesheet" href="{% static 'css/home/about.css' %}">
</header>
<section class="about-container">
    <h1>Um pouco sobre nós</h1>
    <p>Somos uma empresa que atua no mercado desde 2017. Desde então estamos trabalhando da melhor maneira possível para entregar aos nossos clientes e parceiros a melhor experiência em transportes para a sua encomenda chegar até você.
        Seja grande ou pequena, nós cuidamos com total qualidade e segurança!</p>
</section>