{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/home/partners.css' %}">
</head>
<section class="partners-container">
    <h3>Empresas que trabalham conosco</h3>
    <div class="partners">
        <img class="partner" src="../../static/assets/partners/atual.webp" >
        <img class="partner" src="../../static/assets/partners/direct.svg" >
        <img class="partner" src="../../static/assets/partners/favorita.webp" >
        <img class="partner" src="../../static/assets/partners/mirat.webp" >
        <img class="partner" src="../../static/assets/partners/nortebrasil.webp" >
        <img class="partner" src="../../static/assets/partners/tnt.webp" >
        <img class="partner" src="../../static/assets/partners/vitlog.webp" >
    </div>
</section>