{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/home/services.css' %}">
</head>
<section class="services-container">
    <h1>Nossos Serviços</h1>
    <h6>Oferecemos uma das melhores experiências em transportes do Brasil!</h6>
    <p>Prezamos pela agilidade e confiança desde o início do processo de entrega.</p>
    <p>Entregamos suas encomendas em Ourém, Garrafão, Piriá e Capitão poço 😎</p>
    <div class="card">
        <h4>Seja nosso parceiro</h4>
        <button>
            Vamos la!
        </button>
    </div>
</section>